body {
	background-color: #ffffff;
	color: #000000;
	margin: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
}

.banner {
	width: 100%;
	font-size: 20px;
	text-align: center;
}

.banner a {
	text-decoration: none;
}

.title {
	font-size: 30px;
	font-weight: bold;
	vertical-align: top;
}

h1 {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

h2 {
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}

.dataTable {
	border: 1px solid #CCCCCC;
	border-spacing: 0px;
	background-color: #F1F1F1;
	border-collapse: collapse;
}

.tableHead {
	background-color: #92A9ED;
	font-weight: bold;
	padding: 2px;
	padding-left: 5px;
	text-align: center;
	vertical-align: top;
	border: 1px solid #CCCCCC;
}

.tableCell {
	border: 1px solid #CCCCCC;
	padding: 2px;
}

.tableCellBold {
	border: 1px solid #CCCCCC;
	padding: 2px;
	font-weight: bold;
}

.emphasis {
	color: #990000;
	font-weight: bold;
}

.footer {
	
}

.copyright {
	color: #4076B9;
	font-size: 10px;
}

.tableHead {
	background-color: #92A9ED;
	font-weight: bold;
	padding: 2px;
	padding-left: 5px;
	text-align: center;
	vertical-align: top;
	border: 1px solid #CCCCCC;
}

.tableCell {
	border: 1px solid #CCCCCC;
	padding: 2px;
}

.tableCellBold {
	border: 1px solid #CCCCCC;
	padding: 2px;
	font-weight: bold;
}

.emphasis {
	color: #990000;
	font-weight: bold;
}

.footer {
	
}

.copyright {
	color: #4076B9;
	font-size: 10px;
}