<!DOCTYPE html>
<html>
	<head>
		<title>PHPCheckstyle Results</title>
		<link href="global.css" rel="stylesheet" type="text/css"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	</head>
	
	
	<body>
	
		<div class="banner">
				<a href="http://code.google.com/p/phpcheckstyle/" target="_blank">
				<img src="Logo_phpcheckstyle.png"/>
				<span class='title'>&nbsp;PHPCheckstyle</span>
				</a>				
		</div>
		