<br/>
<h1 align="center">Summary</h1>
<table class="dataTable" align="center">
	<tr>
		<td class="tableHead" align="center">Number of Files Tested</td>
		<td class="tableCell" align="center"><span class="emphasis">%%nb_files%%</span></td>
	</tr>
	<tr>
		<td class="tableHead" align="center">Number of Files With Errors</td>
		<td class="tableCell" align="center"><span class="emphasis">%%nb_files_error%%</span></td>
	</tr>
	<tr>
		<td class="tableHead" align="center">Total Number of Errors</td>
		<td class="tableCell" align="center"><span class="emphasis">%%nb_total_errors%%</span></td>
	</tr>
</table>
